/* geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --trirty-color: #00ff08;
}

body {
    background-color: #000;
    height: 100vh;
}

.interface {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 0.5em 2em;
    font-size: 1em;
    font-weight: 600;
    background-color: #00ff08;
    border: 0;
    border-radius: 2em;
    cursor: pointer;
    transition: .2s;
}

button:hover, form input[type='submit']:hover {
    box-shadow: 0px 0px 8px #00ff08e4;
    transform: scale(1.05);
}

h2.title {
    color: var(--secondary-color);
    font-size: 2.5em;
    text-align: center;
}

h2.title span {
    color: var(--trirty-color);
}

.btn-social button{
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    border: none;
    background-color: var(--trirty-color);
    cursor: pointer;
    margin: 0 .3em;
}

.btn-social button i {
    font-size: 1.5em;
}

/* cabecalho */
header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #7d7d7d;
    text-decoration: none;
    transition: .2s;
}

header a:hover {
    color: #fff;
    display: inline-block;
    transform: scale(1.05);
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

/* top */
section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 8vw;
}

.topo-do-site h2 {
    color: #fff;
    font-size: 2em;
    line-height: 1em;
}

.topo-do-site .txt-topo-site p {
    color: var(--secondary-color);
    margin: 2em 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 1em;
    }
}

/* box especs */
section.especs {
    padding: 5em 4%;
}

section.especs .flex {
    gap: 3em;    
}

.especs .box-especs {
    color: var(--secondary-color);
    padding: 2em;
    margin-top: 2.5em;
    border-radius: 1.5em;
    transition: .2s;
}

.especs .box-especs:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px #ffffff83;
}

.especs .box-especs i{
    font-size: 4em;
    color: var(--trirty-color);

}

.especs .box-especs h3 {
    font-size: 1.8em;
}

/* sobre */
section.sobre {
    padding: 5em 4%;
}
section.sobre .flex {
    align-items: center;
    gap: 3em;
}

.sobre .txt-sobre {
    color: var(--secondary-color);
}

.txt-sobre h2 {
    font-size: 2.5em;
    line-height: 1em;
    margin-bottom: .8em;
}

.txt-sobre h2 span {
    display: block;
    color: var(--trirty-color);
}

.sobre .txt-sobre p {
    margin: 1em 0;
    text-align: justify;
}

.btn-social button{
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    border: none;
    background-color: var(--trirty-color);
    cursor: pointer;
    margin: 0 .3em;
}

.sobre .btn-social button i {
    font-size: 1.5em;
}

/* portifólio */
section.portifolio {
    padding: 5em 4%;
    box-shadow: 0px 0px 40px 10px #ffffff16;
}

section.portifolio .flex {
    justify-content: space-between;
    margin-top: 2em;
}

.img-port {
    width: 28vw;
    height: 42vw;
    background-image: url(../images/imagem.jpg);
    background-size: cover;
    background-position: 100% 0%;
    cursor: pointer;
    transition: 8s;
    overflow: hidden;
    border-radius: 2em;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#0000009e;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: var(--secondary-color);
    opacity: 0;
}

.overlay:hover {
    opacity: 1;
}

/* form */
section.form {
    padding: 5em 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: .5em;
    flex-direction: column;
}

form input, form textarea {
    width: 100%;
    background-color: #807e7e8c;
    border: none;
    outline: none;
    padding: 1em .8em;
    color: white;
    border-radius: 10px;
    font-size: 1em;
}

form textarea {
    resize: none;
    height: 200px;
}

form .btn-enviar {
    margin-top: 1em;
}

form input[type='submit'] {
    width: 10em;
    color: var(--primary-color);
    background-color: var(--trirty-color);
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* rodapé */
footer {
    padding: 3em 4%;
    box-shadow: 0px 0px 40px 10px #ffffff16;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding:1.2em 0;
    
}

footer .line-footer:nth-child(1) {
    border-bottom: 2px solid var(--trirty-color);
}

footer .line-footer p i {
    color: var(--trirty-color);
    font-size: 1.5em;
}

footer .line-footer p a {
    color: var(--secondary-color);
}