* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #f7f7f7;
    --secondary-color: #212238;
    --font-color: #212238;
    --shadow-color: #bababaa6;
    --border-color: #0000004d;
    --bg-especs: #fafafa;
    --trirty-color: #19199f;
    --shadow-green: #00ff08e4;
    --shadow-green: #6565cfbf;
    --shadow-green: #7373e2;
    --bi-list-color: #000;
}

.dark:root {
    --primary-color: #0c0d0f;
    --secondary-color: #fff;
    --font-color: #9fa0a0;
    --shadow-color: #525252cf;
    --trirty-color: #3131e0;
    --shadow-1px: 0px 0px 2px #ffffff63;
    --border-color: #ffffff5e;
    --bg-especs: #141518;
    --bi-list-color: #00ff08;
    --bi-list-color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    height: 100vh;
    color: var(--secondary-color);
    transition: background .3s linear;
}

p {
    color: var(--font-color);
}

.interface {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button,
.btn {
    padding: 0.5em 2em;
    font-size: 1em;
    font-weight: 600;
    background-color: var(--trirty-color);
    color: white;
    border: 0;
    border-radius: 2em;
    cursor: pointer;
    transition: .2s;
    box-shadow: var(--shadow-1px);
    /* box-shadow: 0px 0px 5px #ffffff62; */
}

a.btn {
    text-decoration: none;
}

button:hover,
.btn:hover,
form input[type='submit']:hover {
    box-shadow: 0px 0px 12px var(--shadow-green);
    transform: scale(1.05);
}

h2.title {
    margin-bottom: .5rem;
    font-size: 2.5em;
    text-align: center;
}

h2.title span {
    color: var(--trirty-color);
    /* color: #6f6ffe; */
    /* text-shadow: 0px 0px 2px #a9a9a974; */
    text-shadow: var(--shadow-1px);
}

.btn-social button {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    border: none;
    background-color: var(--trirty-color);
    cursor: pointer;
    margin: 0 .3em;
}

.btn-social button i {
    font-size: 2em;
}

section {
    scroll-margin: 3em;
}

/* cabecalho */
header {
    background-color: var(--primary-color);
    padding: .5em 4% 0;
    box-shadow: 0px 0px 25px var(--shadow-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    transition: background .3s linear;
}

header>.interface {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5em;
}

header a {
    color: #7d7d7d;
    text-decoration: none;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: var(--secondary-color);
    display: inline-block;
    transform: scale(1.1);
}

header nav.menu-desktop ul {
    list-style: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 1.5em;
}

main {
    margin-top: 4em;
}

/* change theme */
.container-change-theme {
    position: relative;
}

.btn-theme {
    background-color: var(--secondary-color);
    border-radius: 50px;
    cursor: pointer;
    top: calc(50% - 0.8em);
    right: 10em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .6em;
    padding: .4em;
    height: 2em;
    width: 4em;
}

span.ball {
    background-color: var(--primary-color);
    border-radius: 50%;
    position: absolute;
    top: .2em;
    left: .2em;
    height: 1.6em;
    width: 1.6em;

    transform: translateX(0);
    transition: transform .3s;
}

#change-theme:checked+.btn-theme .ball {
    transform: translateX(1.9em);
}

.btn-theme i {
    color: var(--primary-color);
}

.bi-brightness-high-fill {
    font-size: 1.2em;
}

/* menu mobile */
.overlay-menu {
    background-color: #00000080;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;
}

.btn-abrir-menu {
    display: none;
}

.btn-abrir-menu i {
    color: var(--bi-list-color);
    border: 1px solid;
    font-size: 1.6em;
}

.menu-mobile {
    background-color: var(--primary-color);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 0%;
    overflow: hidden;
    transition: .3s;
}

.menu-mobile ul {
    text-align: right;
}

.menu-mobile ul li {
    font-size: 1.2em;
    font-weight: 300;
}

.menu-mobile ul li a {
    color: var(--secondary-color);
    display: block;
    padding: .5em 6%;
}

.menu-mobile ul li a:active {
    background-color: var(--trirty-color);
    color: var(--primary-color);
}

.menu-mobile .btn-fechar {
    margin: 0.5em;
    color: var(--bi-list-color);
    font-size: 1.6em;
    padding: 0 0.3em;
    border: 1px solid;
    display: inline-block;
}

.menu-mobile.abrir-menu {
    width: 80%;
}

.menu-mobile.abrir-menu~.overlay-menu {
    display: block;
}

.bi-list {
    padding: 0 0.15em;
}

/* top */
section.topo-do-site {
    padding: 2.5em 4% 1rem;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.topo-do-site h2 {
    font-size: 2em;
    line-height: 1em;
}

.topo-do-site .txt-topo-site {
    flex: 1.5;
}

.topo-do-site .img-topo-site {
    flex: 1;
}

.topo-do-site .txt-topo-site p {
    text-align: justify;
    margin: 2em 0;
}

.topo-do-site .txt-topo-site a {
    color: var(--font-color);
}

.topo-do-site .img-topo-site img {
    width: 100%;
    border-radius: .8em;
    position: relative;
}

/* box especs */
section.especs {
    padding: 3em 4%;
    margin-top: 2em;
}

section.especs .flex {
    gap: 1.5em;
}

section.especs h2 {
    margin-bottom: 1.5em;
}

.especs .box-especs {
    width: 30vw;
    background-color: var(--bg-especs);
    border: 1px solid var(--border-color);
    padding: 1.8em;
    border-radius: .8em;
    transition: .2s;
}

.especs .box-especs:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px var(--shadow-color);
}

.especs .box-especs p {
    text-align: justify;
}

.especs .box-especs i {
    font-size: 4em;
    color: var(--trirty-color);
    text-shadow: var(--shadow-1px);

}

.especs .box-especs h3 {
    font-size: 1.8em;
}

/* sobre */
section.sobre {
    padding: 5em 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 3em;
}

.txt-sobre h2 {
    font-size: 2.5em;
    line-height: 1em;
    margin-bottom: .8em;
}

.txt-sobre h2 span {
    display: block;
    color: var(--trirty-color);
    text-shadow: var(--shadow-1px);
}

.sobre .txt-sobre p {
    margin: 1em 0;
    text-align: justify;
}

.btn-social button {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    border: none;
    background-color: var(--trirty-color);
    color: white;
    cursor: pointer;
    margin: 0 .3em;
}

#sobre .img-sobre img {
    outline: 5px solid #ecebeb;
    border-radius: 10px;
}

.sobre .btn-social button i {
    font-size: 1.5em;
}

/* portifólio */
section.portifolio {
    padding: 4em 4%;
    box-shadow: 0px 0px 40px 10px var(--shadow-color);
}

.portifolio .flex {
    gap: 1.5rem;
}

.portifolio div.interface>.flex>div {
    width: 30vw;
    margin-top: 2em;
    border-radius: .8em;
    border: 1px solid var(--border-color);
    background-color: var(--bg-especs);
    transition: .2s;
}

section.portifolio div.interface>.flex>div:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px var(--shadow-color);
}

.portifolio img {
    width: 100%;
}

.project-info {
    padding: 1rem;
}

.project-info h3 {
    font-size: 1.5rem;
}

.project-info .flex {
    flex-direction: column;
    gap: .6rem;
    margin: 1rem 0;
    justify-content: center;
    align-items: center;
}

.project-info p {
    text-align: justify;
}

/* certificados */
section.certs {
    padding: 4em 4%;
}

section.certs h2 {
    margin-bottom: 1em;
}

section.certs>div>div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.certs img {
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: .3s;
}

.certs img:hover {
    transform: scale(1.05);
}

.img-lenght {
    position: relative;
    cursor: pointer;
}

.img-lenght span {
    position: absolute;
    top: calc(50% - 1em);
    left: 45%;
    z-index: 1;
    background-color: #000000c9;
    font-size: 1.5em;
    padding: 0.2em;
    color: white;
    transition: .3s;
}

.img-lenght span:hover {
    transform: scale(1.05);
}

/* modal */
.modal,
.modal-msg {
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    align-items: center;
    left: 0;
    z-index: 1000;
}

.modal-msg>div {
    font-size: 1.2rem;
    padding: 1.5rem;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    padding: 3rem 2rem 2rem;
}

.modal-msg p {
    color: #000;
    margin-bottom: 1.5rem;
}

.modal>div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vh;
    height: 90vh;
}

.modal .arrow {
    position: absolute;
    top: 45%;
    background-color: black;
    color: white;
    font-size: 2em;
    padding: 0.1em;
    cursor: pointer;
}

#right {
    right: 0;
}

#left {
    left: 0;
}

.exit-modal {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    font-size: 1.5em;
    padding: 0 0.3em;
    color: white;
}

.modal img {
    width: 100%;
}

/* form */
section.form {
    padding: 4em 4%;
    box-shadow: 0px 0px 40px 10px var(--shadow-color);
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: .5em;
    flex-direction: column;
}

form input,
form textarea {
    width: 100%;
    background-color: #807e7e8c;
    border: none;
    outline: none;
    padding: 1em .8em;
    color: var(--secondary-color);
    border-radius: 10px;
    font-size: 1em;
    outline: none;
}

form input:focus,
form textarea:focus {
    background-color: #807e7e8c;
}

form textarea {
    resize: none;
    height: 200px;
}

form .btn-enviar {
    margin-top: .6em;
}

form input[type='submit'] {
    font-size: 1.2em;
    width: 5em;
    padding: .5em .8em;
    width: 6em;
    color: white;
    background-color: var(--trirty-color);
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* whats */
#whats {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

#whats i {
    border-radius: 50%;
    padding: 4px 12px;
    font-size: 2.5rem;
    background-color: #0d9611;
    color: #000;
    color: white;
}

/* rodapé */
footer {
    padding: 3em 4% 4em;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 1.2em 0;

}

footer .line-footer:nth-child(1) {
    border-bottom: 2px solid var(--trirty-color);
}

footer .line-footer p i {
    color: var(--trirty-color);
    font-size: 1.5em;
}

footer a {
    color: var(--secondary-color);
}

.logo img,
.logo-footer img {
    width: 100%;
}


.logo-footer {
    flex: 1;
}

.btn-social {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    text-align: center;
}

@media (min-width: 1020px) {
    header nav ul {
        display: flex;
    }
}

@media screen and (max-width: 1020px) {
    .flex {
        flex-direction: column;
    }

    /* .container-change-theme {
        right: .5em;
    } */

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    .topo-do-site h2 {
        font-size: 1.5em;
    }

    section.portifolio .flex {
        align-items: center;
        gap: 0;
    }

    .img-topo-site img {
        width: 100%;
    }

    .sobre img {
        width: 100%;
    }

    section.especs {
        padding: 2em 6%;
    }

    section {
        scroll-margin: 4em;
    }

    h2.title {
        line-height: 1em;
        font-size: 2em;
    }

    section.sobre {
        padding: 2em 6%;
    }

    section.sobre h2 {
        font-size: 2.2em;
    }

    .portifolio div.interface>.flex>div {
        width: 90vw;
    }

    .especs .box-especs {
        width: 90vw;
    }

    section.certs>div>div {
        grid-template-columns: repeat(2, 1fr);
    }

    .btn-abrir-menu {
        display: block;
    }

    .menu-desktop,
    .btn-contato {
        display: none;
    }

    footer .logo-footer {
        margin-bottom: 2em;
    }

    footer .line-footer {
        text-align: center;
    }
}